<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>My account</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="/css/myaccount.css" type="text/css" />
      

      <style>
           .list-group-item:nth-child(1){
                border-radius: 0px;
           }

           .mb-1{
                margin-left:10px;
           }
           .border{
                border: 1px solid whitesmoke;
           }
           .padding{
                padding:10px;
                gap: 10px;
           }

           .flex{
                display: flex;
                flex-direction: column;
           }
           input{
                margin:20px;
                max-width: 30%;
           }
      </style>

</head>
<body>


     <div class="container-fluid">

          <%- include("partials/navbar"); %>

          



          <div class="row">

                    


                    <div class="col-xl-2 col-sm-12" style="background-color:whitesmoke;min-height: 100vh;padding:0px">
                         <div class="row">

                              <div class="d-flex flex-row col-12 ">
                                   <div class="p-2">
                                        <img src="https://via.placeholder.com/100x100.png?text=Profile Pic" alt="..." class="img-thumbnail">
                                   </div>
                                   <div class="p-2" style="height:100%">
                                        <h5 style="line-height: 5;"><%= user.first_name%> <%= user.last_name%></h5>
                                        
                                   </div>
                                   
                                 </div>
                              
               
                         </div>
                         <div class="list-group" style="width:100%;margin:0px;">
                              <a href="/myaccount/<%=user._id%>" class="list-group-item list-group-item-action ">
                                <div class="d-flex w-100">
                                  
                                   <span class="material-icons">
                                        shopping_bag
                                        </span>
                                  <p class="mb-1">My Purchases</p>
                                </div>
                                
                              </a>

                              <a href="/myaccount/<%=user._id%>/wishlist" class="list-group-item list-group-item-action">
                                   <div class="d-flex w-100">
                                     
                                      <span class="material-icons">
                                           favorite_border
                                        </span>
                                     <p class="mb-1">Wish list</p>
                                   </div>
                                   
                              </a>

                              <a href="/myaccount/<%=user._id%>/rewards" class="list-group-item list-group-item-action">
                                   <div class="d-flex w-100">
                                     
                                      <span class="material-icons">
                                        redeem
                                           </span>
                                     <p class="mb-1">Nordy rewards</p>
                                   </div>
                                   
                              </a>
                             
                              <a href="/myaccount/<%=user._id%>/looks" class="list-group-item list-group-item-action">
                                   <div class="d-flex w-100">
                                     
                                      <span class="material-icons">
                                           looks
                                           </span>
                                     <p class="mb-1">Looks</p>
                                   </div>
                                   
                              </a>


                              <hr style="color: whitesmoke;margin:10px"/>

                              <a href="/myaccount/<%=user._id%>/password" class="list-group-item list-group-item-action active">
                                   <div class="d-flex w-100">
                                     
                                      <span class="material-icons">
                                           password
                                           </span>
                                     <p class="mb-1">Password</p>
                                   </div>
                                   
                              </a>

                              <a href="/myaccount/<%=user._id%>/shipping" class="list-group-item list-group-item-action">
                                   <div class="d-flex w-100">
                                     
                                      <span class="material-icons">
                                           local_shipping
                                           </span>
                                     <p class="mb-1">Shipping address</p>
                                   </div>
                                   
                              </a>

                              <a href="/myaccount/<%=user._id%>/payments" class="list-group-item list-group-item-action">
                                   <div class="d-flex w-100">
                                     
                                      <span class="material-icons">
                                           payment
                                           </span>
                                     <p class="mb-1">Payment Methods</p>
                                   </div>
                                   
                              </a>

                              <a href="/myaccount/<%=user._id%>/preferences" class="list-group-item list-group-item-action">
                                   <div class="d-flex w-100">
                                     
                                      <span class="material-icons">
                                           email
                                           </span>
                                     <p class="mb-1">Email and Mail Preferences</p>
                                   </div>
                                   
                              </a>

                              <a href="/myaccount/<%=user._id%>/signout" class="list-group-item list-group-item-action">
                                   <div class="d-flex w-100">
                                     
                                      <span class="material-icons">
                                           logout
                                           </span>
                                     <p class="mb-1">Signout</p>
                                   </div>
                                   
                              </a>
                         </div>     
                    </div>
                    <div class="col-xl-10" >
                      <div class="container-fluid">

                         <h4 style="line-height: 5;">Change password</h4>



                         

                         <div class="container">

                              <form onsubmit="changePassword(event)">
                              <input id="old" class="form-control" type="password" placeholder="Old Password">

                              <input id="new" class="form-control" type="password" placeholder="new Password">

                              <input id="cnew" class="form-control" type="password" placeholder="confirm  new Password">
                              <div class="progress" id="progress_holder"  style="margin:20px;max-width: 30%;display: none;">
                                   <div class="progress-bar" id="progress"  role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                              </div>
                              <button type="submit" class="btn btn-primary" style="margin:20px;">Change password</button>
                              </form>
                              
                            </div>


                         
                      </div>
                    </div>
          </div>



          <%- include("partials/footer"); %>

          
          <script>




               function changePassword(e)
               {
                    e.preventDefault();

                    let old= document.getElementById("old").value.trim();
                    let newp= document.getElementById("new").value.trim();
                    let cnewp= document.getElementById("cnew").value.trim();
                    let progressholder=document.getElementById("progress_holder");
                    let progress=document.getElementById("progress");
                    progressholder.style.display='block';
                    progress.style.width="15%";
                    progress.setAttribute("aria-valuenow" ,"15");
                    progress.innerText="15%";


               
                    




               }



               function getOrders()
               {
                    console.log("changed" + document.getElementById("time").value);

               }
          </script>
          
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>