<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <div >
                <div style = "border:1px solid red">
                    <p>Name: <%= product.name %></p>
                    <p>Color: <%= product.color %></p>
                    <%- product.details %>
                    <p>Price: <%= product.price %></p>
                    <img src = <%= (product.images[0]) %>></img>
                </div>
    </div>
    
</body>
</html>