<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall Decor & Mirrors | Nordstorm</title>
    <link rel="icon" href="https://n.nordstrommedia.com/id/c4fb2a09-3657-4161-9b79-6412897d9399.png"
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/individualProduct.css" type="text/css">
    <script src="/js/navbar.js"> </script>

    <title>Products</title>
</head>

<body onclick="removeDropdown()">

    <div id="product-grid-container">
        <%- include("partials/navbar"); %>
            <div id="details" style="position:relative;overflow:hidden">
                <div class="image-holder">
                    <div id="image_product" class="flex-box"><img id="prod-img" src=<%=(product.images[0]) %>
                        style="min-height: 200px; max-height: 520px;"></div>

                </div>

                <div class="product-holder">
                    <div id="discription_product" class="flex-box">
                        <h2 class="pro_det_name">
                            <%= product.name %>
                        </h2>
                        <p class="pro_det_p" style="font-size: 15px;">
                            <%= product.brand_id.brand_name.toUpperCase() %>
                        </p>
                        <h3 class="pro_det_h3">INR <%= product.price %>
                        </h3>
                        <p class="pro_det_p2">Price varies with currency exchange rates and may be different than in
                            store.</p>
                        <p class="pro_det_p">
                            <%= product.description %>
                        </p>
                        <p class="pro_det_p" style="font-weight: 400;">Colors available: <span
                                style="font-weight: 500;color: <%= product.color %>;">
                                <%= product.color %>
                            </span>
                        </p>
                        <input type="Number" id="quantity" value="1">
                        <p id="flag">Kindly specify a non zero positive value.</p>
                        <button id="button1" onclick="addToBag(<%= JSON.stringify(product) %>)" style="font-size: 19px;">
                            <span class="material-icons" style="font-size: 24px;">shopping_bag</span> Add to
                            Bag
                        </button>
                        <button id="wish" onclick="wishlist(<%= JSON.stringify(product) %>)">+ Add To Wish List</button>
                    </div>
                </div>

                <div id="recommended-product">
                    <p style="font-size: 20px; font-weight: 500;">You might also like</p>

                    <img
                        src="https://n.io.nordstrommedia.com/id/sr3/d6cc85b0-201f-46a6-b6dd-791c83ae6eec.jpeg?crop=pad&amp;pad_color=FFF&amp;format=jpeg&amp;w=100&amp;h=150">

                    <p style="text-align: center; margin: 0px; font-size: 12px;">DENY DESIGNS</p>
                    <p style="text-align: center; margin: 0px; font-size: 17px;">INR 3094</p>

                    <img
                        src="https://n.io.nordstrommedia.com/id/sr3/afcad95c-d478-48b2-915f-3d9a1bb2e716.jpeg?crop=pad&amp;pad_color=FFF&amp;format=jpeg&amp;w=100&amp;h=150">

                    <p style="text-align: center; margin: 0px; font-size: 12px;">NEWGATE</p>
                    <p style="text-align: center; margin: 0px; font-size: 17px;">INR 2048</p>
                </div>
            </div>
            <div id="flex" style="margin-left:30px;">
                <div id="discription_list" class="disc">
                    <h4 class="pro_det_h4">DETAILS &amp; CARE</h4>
                    <p class="pro_det_p" style="font-size: 14px;">
                        <%= product.description %>
                    </p>
                    <p>
                        <%- product.details %>
                    </p>
                    <p class="pro_det_p3" style="color: rgb(37, 37, 37); font-weight: 500;">Free Shipping &amp; Returns
                        <a href="http://www.google.com" style="color: rgb(37, 37, 37); font-weight: 400;">See more</a>
                    </p>
                </div>
                <hr style="width: 90%">
                <div id="have_questions" class="flex-box">
                    <h4 class="pro_det_h4"><span class="material-icons">forum</span></h4>
                    <p class="pro_det_p">Connect with us to get free style advice, product recommendations or customer
                        service help.</p><button id="pro_det_chatnow">Chat Now</button>
                </div>
                <hr>
                <div id="ratings"></div>
            </div>
            <%- include("partials/footer"); %>
    </div>
    <div id="product-grid-modalBox">
        <div id="product-grid-modal-product-info">

            <div>
                <span id="product-grid-closeBtn" class="material-icons"
                    onclick="closeModal(<%= JSON.stringify(product) %>)">close</span>
                <p style="font-size: 20px;font-weight: 500;text-align: center;">Added To your bag</p>
                <div id="product-grid-modal-div">
                    <div id="product-grid-modal-img"><img src=<%=(product.images[0]) %>></div>
                    <div id="product-grid-modal-content">
                        <p id="product-grid-modal-product-name">
                            <%= product.name %>
                        </p>
                        <p id="product-grid-modal-product-brand">
                            <%= product.brand_id.brand_name.toUpperCase() %>
                        </p>
                        <p id="product-grid-modal-product-price">INR <%= product.price %>
                        </p>
                        <p id="product-grid-modal-product-price-content">Price varies with currency exchange rates and
                            may be different than in store.</p><button id="product-grid-modal-product-checkout"
                            onclick="checkout()">
                            <p>CHECK OUT</p>
                        </button>
                        <p id="product-grid-modal-product-add" onclick="viewShopBag()">View Shopping Bag</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>


    let imgDiv = document.getElementById("prod-img")
    let wish = document.getElementById("wish")
    let flag = document.getElementById("flag")

    imgDiv.onmouseover = function () {

        imgDiv.style.width = "40%"
        imgDiv.style.position = "absolute"
        imgDiv.style.top = "0px"
        imgDiv.style.left = "10px"

    }
    imgDiv.onmouseleave = function () {

        imgDiv.style.position = "static"
    }

    //let addToBag = document.getElementById("button1")

    var closeBtn = document.getElementById('product-grid-closeBtn');
    var modal = document.getElementById('product-grid-modalBox');
    var modalContent = document.getElementById('product-grid-modal-content');
    var container = document.getElementById('product-grid-container');
    var modalImage = document.getElementById('product-grid-modal-img');
    var footer = document.getElementById('product-grid-footer');

    let addToBag = async (product) => {


        if (localStorage.getItem('uid')) {

            let quant = document.getElementById("quantity")

            if (Number(quant.value)<=0) {
                flag.style.display = "block"
                return
            }

            if(flag.style.display == "block"){
                flag.style.display = "none"
            }

            let sid = localStorage.getItem("sid");

            let response = await fetch(`http://localhost:5000/shoppingBagDetails/product/${product._id}/${sid}`, (
                {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }
            ));

            var res = await response.json();
            console.log(res);

            if (res.length) {

                let response = await fetch(`http://localhost:5000/shoppingBagDetails/product/${res[0]._id}`, (
                    {
                        method: 'PATCH',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "quantity": res[0].quantity + Number(quant.value),
                        })
                    }
                ));

                var res = await response.json();
                console.log(res);

            } else {

                let response = await fetch("http://localhost:5000/shoppingBagDetails", (
                    {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "product_id": product._id,
                            "shopping_bag_id": sid,
                            "quantity": Number(quant.value),
                            "ordered_flag": false,
                        })
                    }
                ));

                var res = await response.json();
                console.log(res);
            }

            modal.style.display = 'block';
            container.style.filter = 'blur(6px)';

        } else {

            //shud be taken to sigin page
            localStorage.setItem('recently_visited_product_id', product._id);
            window.location.href = "/login"
        }
    }


    let wishlist = async (product) => {

        if (localStorage.getItem('uid')) {

            let wid = localStorage.getItem("wid");

            //if product already present in wishlist then dnt add it


            let response = await fetch(`http://localhost:5000/wishlistDetails/product/${product._id}/${wid}`, (
                {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                }
            ));

            var res = await response.json();

            if (res.length) {
                wish.textContent = "Product has already been added in your wishlist"
            } else {

                let response = await fetch(`http://localhost:5000/wishlistDetails`, (
                    {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "wishlist_id": wid,
                            "product_id": product._id,
                        })
                    }
                ));

                var res = await response.json();
                console.log(res);

                wish.textContent = "Product Added In Your Wishlist"

            }

        } else {

            //shud be taken to sigin page

            localStorage.setItem('recently_visited_product_id', product._id);
            window.location.href = "/login"
        }


    }


    function closeModal(product) {
        modal.style.display = "none";
        modalImage.innerHTML = "";
        modalContent.innerHTML = "";
        container.style.filter = "blur(0px)";
        window.location.href = `http://localhost:5000/products/${product._id}`
    }

    let checkout = () => {

        let uid = localStorage.getItem('uid')

        window.location.href = `http://localhost:5000/checkout/${uid}`
    }

    let viewShopBag = () => {

        let sid = localStorage.getItem('sid')

        window.location.href = `http://localhost:5000/shoppingBagDetails/${sid}`
    }
</script>

</html>