<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wall Decor & Mirrors | Nordstorm</title>
    <link rel="icon" href="https://n.nordstrommedia.com/id/c4fb2a09-3657-4161-9b79-6412897d9399.png"
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/individualProduct.css" type="text/css">

    <title>Products</title>
</head>

<body>

    <div id="product-grid-container">
        <%- include("partials/navbar"); %>
            <div id="details" style="position:relative;overflow:hidden">
                <div class="image-holder">
                    <div id="image_product" class="flex-box"><img class="prod-img"
                            src=<%=(product.images[0]) %>
                            style="min-height: 200px; max-height: 520px;"></div>

                </div>

                <div class="product-holder">
                    <div id="discription_product" class="flex-box">
                        <h2 class="pro_det_name"><%= product.name %></h2>
                        <p class="pro_det_p" style="font-size: 15px;"><%= product.brand_id.brand_name %></p>
                        <h3 class="pro_det_h3">INR <%= product.price %></h3>
                        <p class="pro_det_p2">Price varies with currency exchange rates and may be different than in
                            store.</p>
                        <p class="pro_det_p"><%= product.description %></p>
                        <p class="pro_det_p" style="font-weight: 400;">Colors available: <span
                                style="font-weight: 500;color: <%= product.color %>;"><%= product.color %></span></p><input type="text" id="quantity"
                            value="1"><br><button id="button1" style="font-size: 19px;"><span class="material-icons"
                                style="font-size: 24px;">shopping_bag</span> Add to Bag</button><button id="wishlist">+
                            Add To Wish List</button>
                    </div>
                </div>

                <div id="recommended-product">
                    <p style="font-size: 20px; font-weight: 500;">You might also like</p>

                    <img
                        src="https://n.io.nordstrommedia.com/id/sr3/d6cc85b0-201f-46a6-b6dd-791c83ae6eec.jpeg?crop=pad&amp;pad_color=FFF&amp;format=jpeg&amp;w=100&amp;h=150">

                    <p style="text-align: center; margin: 0px; font-size: 12px;">DENY DESIGNS</p>
                    <p style="text-align: center; margin: 0px; font-size: 17px;">INR 3094</p>

                    <img
                        src="https://n.io.nordstrommedia.com/id/sr3/afcad95c-d478-48b2-915f-3d9a1bb2e716.jpeg?crop=pad&amp;pad_color=FFF&amp;format=jpeg&amp;w=100&amp;h=150">

                    <p style="text-align: center; margin: 0px; font-size: 12px;">NEWGATE</p>
                    <p style="text-align: center; margin: 0px; font-size: 17px;">INR 2048</p>
                </div>
            </div>
            <div id="flex" style="margin-left:30px;">
                <div id="discription_list" class="disc">
                    <h4 class="pro_det_h4">DETAILS &amp; CARE</h4>
                    <p class="pro_det_p" style="font-size: 14px;"><%= product.description %>
                    </p>
                    <p><%- product.details %></p>
                    <p class="pro_det_p3" style="color: rgb(37, 37, 37); font-weight: 500;">Free Shipping &amp; Returns
                        <a href="http://www.google.com" style="color: rgb(37, 37, 37); font-weight: 400;">See more</a>
                    </p>
                </div>
                <hr style="width: 90%">
                <div id="have_questions" class="flex-box">
                    <h4 class="pro_det_h4"><span class="material-icons">forum</span></h4>
                    <p class="pro_det_p">Connect with us to get free style advice, product recommendations or customer
                        service help.</p><button id="pro_det_chatnow">Chat Now</button>
                </div>
                <hr>
                <div id="ratings"></div>
            </div>
            <div id="product-grid-footer">
                <div class="footer">
                    <div class="footer-col">

                        <ul class="ul">
                            <li><label class="heading">Customer Service</label></li>
                            <li>Contact Us</li>
                            <li>Order Status</li>
                            <li>Shipping</li>
                            <li>Returns &amp; Exchanges</li>
                            <li>Shipping</li>
                            <li>Product recalls</li>
                            <ul>
                            </ul>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <ul class="ul">
                            <li><label class="heading">Stores &amp; Events</label></li>
                            <li>Stores &amp; Events</li>
                            <li>Carrers</li>
                            <li>Corporate Responsibility</li>
                            <li>Diversity Inclusion &amp; Belonging</li>
                            <li>Get Email Updates</li>
                            <li>Nordstrom Blog</li>

                            <ul>
                            </ul>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <ul class="ul">
                            <li><label class="heading">Services</label></li>
                            <li>Personal Styling</li>
                            <li>Altration &amp; Tailoring</li>
                            <li>Spa Nordstrom</li>
                            <li>Nordstrom Restaurants</li>
                            <li>Gift Cards</li>

                            <ul>
                            </ul>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <ul class="ul">
                            <li><label class="heading">Nordstrom Card</label></li>
                            <li>Pay My Bill</li>
                            <li>Manage my Nordstrom Card</li>

                            <ul>
                            </ul>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <ul class="ul">
                            <li><label class="heading">Nordstrom Inc</label></li>
                            <li>Nordstrom Rack</li>
                            <li>Nordstrom Canada</li>
                            <li>Trunk Club</li>
                            <li>Investor Relations</li>
                            <li>Press Releases</li>

                            <ul>
                            </ul>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <ul class="ul">
                            <li style="padding:5px"><img src="./images/mobile.svg" alt="facebook"
                                    style="width:18px;margin-right:0px;padding:5px">Get our apps</li>
                            <div style="display:flex;gap:15px;margin-top: 20px;">

                                <img src="./images/insta.svg" alt="facebook" style="width:24px;">
                                <img src="./images/pin.svg" alt="facebook" style="width:24px;">
                                <img src="./images/twitter.svg" alt="facebook" style="width:24px;">
                                <img src="./images/fb.svg" alt="facebook" style="width:24px;">
                            </div>
                            <ul>
                            </ul>
                        </ul>
                    </div>




                </div>

                <div class="footer">
                    <p>Your Privacy Rights</p>
                    <p>Dont Sell My Info</p>
                    <p>Terms &amp; Conditions</p>
                    <p>Intrest Based Ads</p>
                    <p>©2021 Nordstrom,Inc</p>
                </div>
            </div>
    </div>

</body>

</html>