<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <div >
            <% products.forEach((e) => {%>
                <div style = "border:1px solid red">
                    <p>Name: <%= e.name %></p>
                    <p>Color: <%= e.color %></p>
                    <%- e.details %>
                    <p>Price: <%= e.price %></p>
                    <a href="products/<%= e._id %>"><img src = <%= (e.images[0]) %>></img></a>
                </div>
            <% }) %>
    </div>
    
</body>
</html>