<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.user_id.first_name %>'s Shopping Bag | Nordstrom</title>
    <link
      rel="icon"
      href="https://n.nordstrommedia.com/id/c4fb2a09-3657-4161-9b79-6412897d9399.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/shoppingBag.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script src=" /js/shoppingBag.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body onload="checkShoppingBag(<%=JSON.stringify(items) %>)">
    <%- include("partials/navbar"); %>

    <div id="shopping-bag-container">
      <div id="shopping-bag-sections">
        <span id="shopping-bag-tag">Shopping Bag</span>
        <span id="shopping-bag-saved">Saved for Later</span>
      </div>

      <div id="shopping-bag-titles">
        <p id="shopping-bag-titles-name">Shopping Bag</p>
        <p id="shopping-bag-titles-gift">
          <span class="material-icons">card_giftcard</span>Choose gift options
          when you check out.
        </p>
        <p id="shopping-bag-titles-text">Items in your bag are not on hold.</p>
      </div>

      <hr />

      <div id="shopping-bag-data">
        <% var sum = 0 %> <% items.forEach((item)=> { %>
        <div id="shopping-bag-data-div">
          <div id="shopping-bag-data-div-img">
            <img src="<%= item.product_id.images[0] %>" />
          </div>
          <div id="shopping-bag-data-product-text">
            <p class="shopping-bag-product-p-text">
              <%= item.product_id.brand_id.brand_name %>
            </p>
            <p class="shopping-bag-product-p-text" style="font-weight: 400">
              <%= item.product_id.name %>
            </p>
            <p class="shopping-bag-product-p-text">Size: One Size</p>
            <p class="shopping-bag-product-p-text">
              Color: <%= item.product_id.color %>
            </p>
            <p class="shopping-bag-product-p-text">
              Item: #<%= item.product_id._id %>
            </p>
            <div class="vertical-space"></div>
            <p style="margin-bottom: 0px">
              <span class="material-icons">local_shipping</span> Delivery
            </p>
            <p class="shopping-bag-product-p-text">
              International orders usually arrive within 5–13 business days.
              We'll give you delivery dates in checkout.
            </p>
            <div style="display: grid; grid-template-columns: repeat(2, 1fr)">
              <p
                onclick="removeProduct(<%= JSON.stringify(item._id) %>)"
                style="
                  text-align: left;
                  font-size: 14px;
                  text-decoration: none;
                  color: rgb(1, 100, 107);
                "
              >
                Remove
              </p>
            </div>
          </div>
          <div id="shopping-bag-data-product-quantity">
            <label style="font-size: 18px">Qty</label>
            <!-- <input
              value="<%= item.quantity %>"
              type="number"
              onchange="changeQuantity(<%= JSON.stringify(item._id)%>, <%= this.value %>)"
              style="border: 1px solid rgb(37, 37, 37); font-size: 14px"
            /> -->
            <select
              class="quantity"
              onchange="changeField(<%= JSON.stringify(item._id)%>, 'quantity', Number(this.value))"
              style="width: 60px"
              value="<%= item.quantity %>"
            >
              <!-- <option value="<%= item.quantity %>"><%= item.quantity %></option> -->
              <option value="<%= item.quantity %>" selected hidden>
                <%= item.quantity %>
              </option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
            </select>
          </div>
          <div id="shopping-bag-data-product-price">
            <span>
              <p style="font-weight: 500; margin: 5px">
                <% sum += item.product_id.price * item.quantity %> ₹<%=
                item.product_id.price * item.quantity %>
              </p>
              <p class="shopping-bag-product-p-text" style="margin: 0px">
                (₹<%= item.product_id.price %> each)
              </p>
            </span>
          </div>
        </div>
        <hr />
        <% }) %>
      </div>

      <div id="shopping-bag-summary">
        <div id="shopping-bag-payment-methods">
          <p>Accepted Payment Methods</p>
          <span id="shopping-bag-credit-logos">
            <img
              style="width: 50px"
              src="https://constant.myntassets.com/checkout/assets/img/footer-bank-mc.png"
            />
            <img
              style="width: 50px"
              src="https://constant.myntassets.com/checkout/assets/img/footer-bank-visa.png"
            />
            <img
              style="width: 50px"
              src="https://constant.myntassets.com/checkout/assets/img/footer-bank-ae.png"
            />
            <img
              style="width: 50px"
              src="https://constant.myntassets.com/checkout/assets/img/footer-bank-rupay.png"
            />
          </span>

          <p>Need help? Call 1.888.282.6060 or <a href="">chat with us</a></p>

          <p><a href="">Shipping internationally?</a></p>
        </div>

        <div id="shipping-bag-price-summary">
          <div id="shipping-bag-subtotal">
            <p>Subtotal:</p>
            <p>₹<%= sum %></p>
          </div>

          <hr style="width: 100%" />
          <div>
            <button
              onclick="goToCheckout(<%= JSON.stringify(user.user_id) %>)"
              id="shipping-bag-checkout-btn"
            >
              Check Out
            </button>
          </div>
        </div>
      </div>
    </div>

    <%- include("partials/footer"); %>
  </body>
</html>
