<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.user_id.first_name %>'s Shopping Bag
    </title>
</head>

<body>
    <div id="shopping-bag-container">
        <div id="shopping-bag-sections">
            <span id="shopping-bag-tag">Shopping Bag</span>
            <span id="shopping-bag-saved">Saved for Later</span>
        </div>

        <div id="shopping-bag-titles">
            <p id="shopping-bag-titles-name">Shopping Bag</p>
            <p id="shopping-bag-titles-gift"><span class="material-icons">card_giftcard</span>Choose gift options when
                you check out.</p>
            <p id="shopping-bag-titles-text">Items in your bag are not on hold. </p>
        </div>

        <div id="shopping-bag-data">

            <% items.forEach((item)=> { %>
                <div id="shopping-bag-data-div">
                    <div id="shopping-bag-data-div-img">
                        <img src="<%= item.product_id.images[0] %>" />
                    </div>
                    <div id="shopping-bag-data-product-text">
                        <p class="shopping-bag-product-p-text">
                            <%= item.product_id.brand_id %>
                        </p>
                        <p class="shopping-bag-product-p-text" style="font-weight: 400;">
                            <%= item.product_id.name %>
                        </p>
                        <p class="shopping-bag-product-p-text">Size: One Size</p>
                        <p class="shopping-bag-product-p-text">
                            Color: <%= item.product_id.color %>
                        </p>
                        <p class="shopping-bag-product-p-text">Item: #<%= item.product_id._id %>
                        </p>
                        <div class="vertical-space"></div>
                        <p style="margin-bottom: 0px;"><span class="material-icons">local_shipping</span>
                            Delivery</p>
                        <p class="shopping-bag-product-p-text">International orders usually arrive within 5–13
                            business
                            days. We'll give
                            you delivery dates in checkout.</p>
                        <div style="display: grid; grid-template-columns: repeat(2, 1fr);">
                            <p
                                style="text-align: left; font-size: 14px; text-decoration: none; color: rgb(1, 100, 107);">
                                Remove</p>
                        </div>
                    </div>
                    <div id="shopping-bag-data-product-quantity">
                        <label style="font-size: 18px;">Qty</label>
                        <input value="<%= item.quantity %>" style="border: 1px solid rgb(37, 37, 37); font-size: 14px;">
                    </div>
                    <div id="shopping-bag-data-product-price">
                        <span>
                            <p style="font-weight: 500; margin: 5px;">₹<%= item.product_id.price * item.quantity %>
                            </p>
                            <p class="shopping-bag-product-p-text" style="margin: 0px;">(₹<%= item.product_id.price %>
                                    each)</p>
                        </span>
                    </div>
                </div>
                <% }) %>

        </div>

        <hr />

        <div id=" shopping-bag-summary">
            <div id="shopping-bag-payment-methods">
                <p>Accepted Payment Methods</p>
                <span id="shopping-bag-credit-logos">
                    <img style="width: 50px"
                        src="https://constant.myntassets.com/checkout/assets/img/footer-bank-mc.png" />
                    <img style="width: 50px"
                        src="https://constant.myntassets.com/checkout/assets/img/footer-bank-visa.png" />
                    <img style="width: 50px"
                        src="https://constant.myntassets.com/checkout/assets/img/footer-bank-ae.png" />
                    <img style="width: 50px"
                        src="https://constant.myntassets.com/checkout/assets/img/footer-bank-rupay.png" />
                </span>

                <p>Need help? Call 1.888.282.6060 or <a href="">chat with us</a></p>

                <p><a href="">Shipping internationally?</a></p>
            </div>

            <div id="shipping-bag-price-summary">
                <div id="shipping-bag-subtotal">
                    <p>Subtotal</p>
                </div>

                <hr style="width: 100%;" />
                <div><button onclick="goToCheckout()" id="shipping-bag-checkout-btn">Check Out</button>
                </div>
            </div>
        </div>

    </div>

</body>

</html>